version: '2'
services:
  redis:
    image: 'redis:3.2-alpine'
    command: redis-server
    ports:
      - '6379:6379'
    volumes:
      - 'redis:/data'
  api:
    image: kiwari-engine:latest
    depends_on:
      - 'redis'
    restart: 'always'
    links:
      - redis
    build: .
    volumes:
      - .:/api
    ports:
      - '8000:3000'
    environment:
      - SECRET_KEY_BASE=xxxxx12345
      - HTTP_DEBUG_LOG=false
      - DEBUG=true
      - JWT_KEY=xxx
      - APP_NAME=Kiwari
      - NEW_RELIC_LICENSE_KEY=xxx123
      - DATABASE_URL=postgres://xxxuser:xxx123@xxxdb:5432/xxxdb
#     - CLOUDINARY_API_KEY=123567
#     - CLOUDINARY_API_SECRET=xxx-yyy
#     - CLOUDINARY_CLOUD_NAME=name
      - NEXMO_API_KEY=123abc
      - NEXMO_API_SECRET=xxx123
      - TWILIO_SID_KEY=xxx123
      - TWILIO_TOKEN_KEY=xxx123
      - MAINAPI_CLIENT_ID=xxx123
      - MAINAPI_CLIENT_SECRET=xxx123
      - MAINAPI_GRANT_TYPE=xxx123
      - MAINAPI_USERNAME=user
      - MAINAPI_PASSWORD=pass
      - EMAIL_SENDER=no-reply@domain.com
      - MAILGUN_API_KEY=key-xxx123
      - MAILGUN_DOMAIN=mg.domain.com
      - SENTRY_DSN=https://xxx123:xxx123@sentry.domain.com/10
      - RACK_ENV=development
      - RAILS_ENV=development
      - RAILS_SERVE_STATIC_FILES=enabled
      - RAILS_LOG_TO_STDOUT=enabled
      - REDIS_URL=redis://redis:6379/0
      - REDIS_CACHE=true
      - SUPER_ADMIN_USERNAME=user
      - SUPER_ADMIN_PASSWORD=pass
      - SIDEKIQ_USERNAME=user
      - SIDEKIQ_PASSWORD=pass
      - QISCUS_SDK_ADMIN_URL=https://domain.com
      - QISCUS_SDK_ADMIN_TOKEN=xxx
      - QISCUS_SDK_URL=https://domain.com
      - CALL_SDK_KEY=xxx123
      - CALL_SDK_URL=https://rtc.domain.com
      - SMTP_USERNAME: "your_sendgrid_username"
      - SMTP_PASSWORD: "your_sendgrid_api_key"
      - SMTP_ADDRESS: "smtp.sendgrid.net"
      - SMTP_DOMAIN: "domain.com"
      - SMTP_EMAIL_FROM: "no-reply@domain.com"
  sidekiq:
    depends_on:
      - 'api'
      - 'redis'
    build: .
    command: bundle exec sidekiq
    volumes:
      - '.:/api'
    environment:
      - REDIS_URL=redis://redis:6379/0
      - SENTRY_DSN=https://xxx123:xxx123@sentry.domain.com/10
      - DATABASE_URL=postgres://xxxuser:xxx123@xxxdb:5432/xxxdb
      - EMAIL_SENDER=no-reply@qiscus.com
      - MAILGUN_API_KEY=key-xxx123
      - MAILGUN_DOMAIN=mg.domain.com
      - QISCUS_SDK_URL=https://api.domain.com
    links:
      - redis
      - api
volumes:
  redis:
  api:
