<% if flash[:success] %>
<div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<% if flash[:notice] %>
<div class="alert alert-warning"><%= flash[:notice] %></div>
<% end %>

<div class="btn-group pull-right" role="group">
  <a href="/dashboard/admin/users" class="btn btn-primary">Back to list users</a>
  <a href="/dashboard/admin/users/export_list_sessions" class="btn btn-info">Export list user sessions</a>
</div>

<br>
<br>

<%= render "/dashboard/shared/users/list_sessions" %>