<% if flash[:success] %>
<div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<% if flash[:notice] %>
<div class="alert alert-warning"><%= flash[:notice] %></div>
<% end %>


<div class="btn-group pull-right" role="group">
  <a href="/dashboard/admin/broadcasts/show_chat_users" class="btn btn-success">Show users by chat rooms</a>
  <a href="/dashboard/admin/broadcasts/show_status" class="btn btn-warning">Broadcasts status</a>
</div>

<br><br>
<div class="row">
  <form class="form" action="/dashboard/admin/broadcasts" method="post">
    <%= render "/dashboard/shared/broadcasts/add-remove" %>
  </form>
  <%= render "/dashboard/shared/broadcasts/list" %>
