# Setting HTTP debug to show or not
HTTP_DEBUG_LOG: "false"

# SECRET KEY FOR JWT, please change it in production
JWT_KEY: "inisecret"

# app name for new relic
APP_NAME: 'Kiwari'
NEW_RELIC_LICENSE_KEY: '6360b672468b68827529bd68884431c8d4f06091'


# Database connection
APP_DATABASE_HOST: "127.0.0.1"
APP_DATABASE_PORT: "5432"
APP_DATABASE_USERNAME: "username"
APP_DATABASE_PASSWORD: "password"
APP_DATABASE_NAME: "database"
APP_DATABASE_TEST_NAME: "database_test"

# Cloudinary
CLOUDINARY_API_KEY: 'xxxyyyzzz'
CLOUDINARY_API_SECRET: 'xxxyyyzzz'
CLOUDINARY_CLOUD_NAME: 'name'

# SMS Handling
NEXMO_API_KEY: "xxxyyyzzz"
NEXMO_API_SECRET: "xxxyyyzzz"
TWILIO_SID_KEY: "xxxyyyzzz"
TWILIO_TOKEN_KEY: "xxxyyyzzz"
INFOBIP_USERNAME: "username"
INFOBIP_PASSWORD: "password"
MAINAPI_CLIENT_ID: "xxxyyyzzz"
MAINAPI_CLIENT_SECRET: "xxxyyyzzz"
MAINAPI_GRANT_TYPE: "xxxyyyzzz"
MAINAPI_USERNAME: "user"
MAINAPI_PASSWORD: "pass"

# Mailgun key
EMAIL_SENDER: 'no-reply@domain.com'
MAILGUN_API_KEY: 'key-xxxyyyzzz'
MAILGUN_DOMAIN: 'mg.domain.com'

# Sentry DSN for logging
SENTRY_DSN: 'https://xxx123:xxx123@sentry.domain.com/9'

PAPERTRAIL_API_TOKEN: 'xxxyyyzzz'
RACK_ENV: 'production'
RAILS_ENV: 'production'
RAILS_SERVE_STATIC_FILES: 'enabled'
RAILS_LOG_TO_STDOUT: 'enabled'

# Setting redis url for sidekiq
REDIS_URL: 'redis://127.0.0.1:6379/0'

# This is for caching to redis, mainly used in conversation list
REDIS_CACHE: 'false'

# for super admin login dashboard
SUPER_ADMIN_USERNAME: 'user'
SUPER_ADMIN_PASSWORD: 'pass'

# Sidekiq credential
SIDEKIQ_USERNAME: "user"
SIDEKIQ_PASSWORD: "pass"

# Qiscus SDK ADMIN
QISCUS_SDK_ADMIN_URL: "https://admin-sdk.qiscus.com"
QISCUS_SDK_ADMIN_TOKEN: "xxxyyyzzz"

# Call SDK
CALL_SDK_KEY: "xxxyyyzzz"
CALL_SDK_URL: "https://rtc-api.qiscus.com"

# Chat SDK
QISCUS_SDK_URL: "https://api.qiscus.com"
