<% if flash[:success] %>
<div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<% if flash[:notice] %>
<div class="alert alert-warning"><%= flash[:notice] %></div>
<% end %>


<div class="btn-group pull-right" role="group">
  <a href="/dashboard/admin/user_dedicated_passcodes/new" class="btn btn-success">Add dedicated passcode</a>
</div>

<%= render "/dashboard/shared/user_dedicated_passcodes/list" %>