<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<div class="form-group">
  <label for="">User Phone Number</label>
  <input type="text" name="user_phone_number" class="form-control" placeholder="User Phone Number" required>
</div>
<div class="form-group">
  <label for="">Passcode</label>
  <input type="text" name="passcode" class="form-control" placeholder="Passcode" required>
</div>
<button type="submit" class="btn btn-success">Save</button>